.title-row{
    text-align: center;
    color: blue;
}

.form-container {
    height: 30vh;
    padding: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
}

.login-form {
    width: 20vw;
    height: 80vh;
    margin: auto;
    align-self: center;
}

.login-cancel-buttons {
    display: flex;
    padding: 1rem;
    justify-content: right;
}

.button-spaced {
    margin-right: .5rem;
    margin-left: .5rem;
}
