#pdrma-form-04E {
    width: 70vw;
    padding: 2rem;
    border: 2px solid blue;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-color: #f7f7f7;
}

.pdrma-form-04E-title {
    display: flex;
    align-content: center;
    justify-content: center;
}

#pdrma-form-04E-title {
    color: blue;
}